.contact-form{
    position: absolute;
    left: 0;
    display: block;
    top: 270px;
    width: 60%;
    height: 50%;
   
    ul{
        padding: 0;
        margin: 0;
    

    li{
        display: block;
        padding:10px;
        margin-bottom: 3px;
        clear: both;
        overflow: hidden;
        position: relative;
        margin: 0;
        list-style: none;
        overflow: hidden;    
    }    
    




   input[type='text'],input[type='email']{
        width: 100%;
        border: 0;
        background-color:#115173;
        height: 40px;
        font-size: 16px;
        padding: 0 20px;
        width: 45%;
        box-sizing: border-box;
    }
    textarea{
        border: 0;
        background-color:#115173;
        height: 100px;
        font-size: 16px;
        padding: 0 20px;
        width: 45%;
        box-sizing: border-box;
        
    }
    
    
    .flat-button{
        color: yellow;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 4px;
        border: 1px solid yellow;
        padding: 10px 10px;
        float: left;
        margin-left: 200px;
        margin-top:10px;
        background-color: transparent;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;
        text-decoration: none;

        &:hover{
            background-color:yellow;
            color: #333;
        }
    }
}
}